//Variables

$color-relleno: white;
$color-box: grey;
$color-fondo:black;
$color-gradiantHF: radial-gradient(#D98324, #A40606);
$color-gradiantM:radial-gradient(#434343, #000000);
$box-medida: 100px;
